{% extends "head.html" %}

{% block body %}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100" style="text-align: center;">
            <div class="table100">
                    <div style="margin-bottom: 5%;" id="index-title">
                        <h1 style="">TESTE - TDD</h1>
                    </div>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('new_project_function') }}">ACEITAÇÃO DE FUNCIONALIDADES</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('general_system_features_function') }}">CARACTERÍSTICAS GERAIS DO SISTEMA</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('new_project_function') }}">CASO DE TESTE E ASSERTIVAS</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('test_factor_function') }}">FATOR DE TESTE</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('general_system_features_function') }}">MEDIDAS DE PROJETO</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('new_project_function') }}">PONTOS DE FUNÇÃO NÃO AJUSTADOS</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('new_project_function') }}">PORCENTAGEM ASSERTIVAS</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('new_project_function') }}">PORCENTAGEM ASSERTIVAS - TESTE DE ACEITAÇÃO</a>
                    </button><br><br>
                    <button type="submit" class="index-buttons btn btn-outline-success">
                        <a style="color: unset;" href="{{ url_for('index_function') }}">MÉTRICAS</a>
                    </button><br><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}